{% extends "layout.html" %}

{% block content %}

<form method="POST" action="">

<h1>Create a Mesocycle</h1>

	<p>
	Different exercises in a split will likely follow different<br>
	periodization models over the course of a mesocycle. <br>
	The approach this application takes is: <br>
	<br>
	1. Create your split <b>( without assigning sets/reps/RPE/RIR to any movement. )</b> <br>
	2. Create the various periodization models you will need for the movements in your split. <br>
	3. Apply those periodization models to the movements you would like. <br>
	4. Review the mesocycle you have created. <br>
	<br>
	<br>
	Note that this application does <b>NOT</b> keep track of off days <br>
	(i.e. if your split lasts one calendar week but you only <br>
	train 4 days out of that week, the split you create should be a 4 <br>
	day split). With that in mind, how many workouts will there <br>
	be in your microcycle?
	</p>

	<form action="/create_mesocycle">
		<input type="text" name="split_length"/>
	</form>
</form>


{% endblock content %}
