<style>
p {
	border: 3px solid gray;
}
</style>
{% extends "layout.html" %}

{% block content %}

<h1>Choose a Mesocycle to Start</h1>

<form action='/start_workout'>
	<input type='button' name='this_one' value='Start'/>
</form>

<p>
{% for i in range(split|length)%}
	<table style='width:100%'>
		<tr>
			<th>Day {{ i+1 }}</th>
			{% for i in range(meso_length) %}
				<th>Microcycle {{i+1}}</th>
			{% endfor %}
		</tr>
		{% for exercise_dict in split[i] %}
			<tr>
				{% for exercise, progression in exercise_dict.items() %}
					<td>{{ exercise }}</td>
					{% for i in range(progression|length) %}
						<td>{{ progression[i] }}</td>
					{% endfor %}
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
	<br>
{% endfor %}
</p>

{% endblock content %}


