{% extends "layout.html" %}

{% block content %}

<form action="/create_periodization_models" method="POST" action="">

	<h1>Create a microcycle (aka "split")</h1>

	<p>
	Each box below represent a day in your microcycle. Fill out each <br>
	day with the exercises you would like to perform on that day. <br>
	<b>Note that you are not specifying reps or sets at this point. <br>
	</b> That is the next step.
	</p>

	{% for workout_table in split %}
		Day {{loop.index0 + 1}} / {{split|length}}
		<br>
		{{ workout_table.label }}
		<br>
		{% for exercise in workout_table.exercises %}
			{{ exercise }}
			<br>
		{% endfor %}
		<form action="/create_microcycle" method="POST" action="">
			<input type="submit" value="add_exercise"/>
		</form>
		<br>
		<br>
		<br>
	{% endfor %}

<input type="submit" value="next_step"/>
</form>

{% endblock content %}
