{% extends "layout.html" %}

{% block content %}

<form action="/create_periodization_models" method="POST">

	<h1>Create a microcycle (aka "split")</h1>

	<p>
	Each box below represent a day in your microcycle. Fill out each <br>
	day with the exercises you would like to perform on that day. <br>
	<b>Note that you are not specifying reps or sets at this point. <br>
	</b> That is the next step.
	</p>

<input type="submit" name="next_step" value='Next Step'/>
</form>
<br>
<br>
<br>

{% for day, workout in split.items() %}
	Day {{ day }}
	<br>
	{% for exercise, scheme in workout.items() %}
		{{ exercise }}
		<br>
	{% endfor %}
	<br>
	<br>
	<br>
{% endfor %}

{% endblock content %}
