<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

{% extends "layout.html" %}

{% block content %}

<form method="POST" action="/review_mesocycle">

<h1>Create Periodization Model</h1>

	<p>
	A single periodization model can be <br>
	applied to more than one exercise in a mesocycle. Note that the <br>
	length of your input will determine the number of microcycles in <br>
	this mesocycle. For example, if you were to input: <br>
	<br>
	<table style='width:25%'>
		<tr>
			{% for k in example['User Input'].keys() %}
				<th>{{ k }}</th>
			{% endfor %}
		</tr>
		<!-- iteration length is length of mesocycle -->
		{% for i in range( example['User Input']['Sets']|length ) %}
				<tr>
				<td>{{ example['User Input']['Sets'][i] }}</td>
				<td>{{ example['User Input']['Reps'][i] }}</td>
				<td>{{ example['User Input']['RPE'][i] }}</td>
				</tr>
		{% endfor %}
	</table>
	<br>
	Your mesocycle would be 4 microcycles long, and would be: <br>
	<br>
	<table style='width:25%'>
		{% for k, v in example['Output'].items() %}
		<tr>
			<th>{{ k }}</th>
			<td>{{ v }}</td>
		</tr>
		{% endfor %}
	</table>
	</p>
<br>
{% for name, prog_scheme in models.items() %}
	Name: {{ name }}
	<br>
	<table style='width:25%'>
		<tr>
			{% for k in prog_scheme.keys() %}
				<th>{{ k }}</th>
			{% endfor %}
		</tr>
		<!-- iteration length is length of mesocycle -->
		{% for i in range( prog_scheme['Sets']|length ) %}
				<tr>
				<td>{{ prog_scheme['Sets'][i] }}</td>
				<td>{{ prog_scheme['Reps'][i] }}</td>
				<td>{{ prog_scheme['RPE'][i] }}</td>
				</tr>
		{% endfor %}
	</table>
	<br>
{% endfor %}

<input type="submit" name="next_step" value='Next Step'/>
</form>

{% endblock content %}
