<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

{% extends "layout.html" %}

{% block content %}

<form action="/create_periodization_models" method="POST">

	<h1>Create Split </h1>

	<p>
	Each box below represents a day in your split. Fill out each <br>
	day with the exercises you would like to perform on that day. <br>
	<b>Note that you are not specifying reps or sets at this point. <br>
	</b> That is the next step.
	</p>

<input type="submit" name="next_step" value='Next Step'/>
</form>
<br>
<br>
<br>

{% for i in range(split|length)%}
	<table style='width:25%'>
		<tr>
			<th>Day {{ i+1 }}</th>
		</tr>
		{% for exercise in split[i] %}
			<tr>
				<td>{{ exercise }}</td>
			</tr>
		{% endfor %}
	</table>
	<br>
{% endfor %}

{% endblock content %}
