{% extends "layout.html" %}

{% block content %}

<h1>Choose one of the options below:</h1>

<form action="/continue_mesocyle">
	<input type="submit" value="Continue current mesocycle"/>
</form>

<form action="/repeat_mesocyle">
	<input type="submit" value="Repeat previously defined mesocycle"/>
</form>

<form action="/create_mesocycle">
	<input type="submit" value="Create mesocycle"/>
</form>

<form action="/create_one_off_workout">
	<input type="submit" value="Create 'one-off' workout"/>
</form>

<form action="/start_one_off_workout">
	<input type="submit" value="Start 'one-off' workout"/>
</form>

<form action="/check_progress">
	<input type="submit" value="Check Progress"/>
</form>

{% endblock content %}
