<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

{% extends "layout.html" %}

{% block content %}

<form action="/">
<h1>Review Mesocycle</h1>

<p>
Review your planned mesocycle. If everything looks good, click 'Next Step'<br>
and you will be brought back to the homepage to start the meso.
</p>

<input type="submit" name="next_step" value='Next Step'/>
</form>

<br>
<br>
<br>

{% for i in range(split|length)%}
	<table style='width:50%'>
		<tr>
			<th>Day {{ i+1 }}</th>
			{% for i in range(meso_length) %}
				<th>Microcycle {{i+1}}</th>
			{% endfor %}
		</tr>
		{% for exercise_dict in split[i] %}
			<tr>
				{% for exercise, progression in exercise_dict.items() %}
					<td>{{ exercise }}</td>
					{% for i in range(progression|length) %}
						<td>{{ progression[i] }}</td>
					{% endfor %}
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
	<br>
{% endfor %}

{% endblock content %}
